#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#


alabaster==0.7.13
Babel==2.12.1
certifi==2023.7.22
charset-normalizer==3.2.0
commonmark==0.9.1
docutils==0.17.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.7.0
Jinja2==3.0.3
MarkupSafe==2.1.3
packaging==23.1
Pygments==2.15.1
python-markdown-math==0.2
pytz==2023.3
recommonmark==0.7.1
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.8.6
sphinx-rtd-theme==0.1.9
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
typing_extensions==4.7.1
urllib3==1.26.17
zipp==3.15.0
